<% include  ./partials/header%>
<link rel="stylesheet" href="../public/stylesheets/main.css">


<div id = "loginForm">
  <h1>Log in</h1>
  <form action="/login" method = "POST">

      <input type = "text" name="username" placeholder = "username"><br>
      <input type = "password" name="password" placeholder = "password">

      <input class="btn btn-primary" type = "submit" value="Login!">
  </form>
</div>


<% include ./partials/footer%>
