<% include  ./partials/header%>
<link rel="stylesheet" href="../public/stylesheets/main.css">


<div id = "loginForm">
  <h1>Login</h1>
  <form action="/login" method = "POST">

      <input type = "text" name="username" placeholder = "Username" style="width: 300px; margin-bottom: 15px; text-align: center; border-radius: 4px; border-color: black;"><br>
      <input type = "password" name="password" placeholder = "Password" style="width: 300px; margin-bottom: 15px; text-align: center; border-radius: 4px; border-color: black;"><br>

      <input class="btn btn-primary" style="background-color: #A8B276; color: black; font-family: 'Amatic SC', cursive; font-size: 20px; width: 300px ; border-color: black; margin-bottom: 30px;" type = "submit" value="Login">
  </form>
</div>


<% include ./partials/footer%>
