<% include partials/header%>
<link rel="icon" href="https://s-media-cache-ak0.pinimg.com/originals/2d/2e/aa/2d2eaa8610eb8425359194e2ba7f1dc6.jpg">





<div class="container">
  <div class="row">
      
      
    <div class="col">Column</div>
    <ul class="list-unstyled">
     
      <li class="media">
        <img class="d-flex mr-3" src="http://www.iconarchive.com/download/i78578/chrisl21/minecraft/Tnt.ico" alt="">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
          Hey there
         </div>
       </li>
     
     </ul>
    
    <div class="col">Column</div>
     <ul class="list-unstyled">
        
      <li class="media my-4">
        <img class="d-flex mr-3" src="http://www.iconarchive.com/download/i78565/chrisl21/minecraft/Grass.ico" alt="">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
         Hey there
        </div>
      </li>
    
     </ulcd 

    <div class="col">Column</div>
        <ul class="list-unstyled">
      
      <li class="media">
        <img class="d-flex mr-3" src="http://www.iconarchive.com/download/i98395/dakirby309/simply-styled/Minecraft.ico" alt="">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
         Hey there
        </div>
    
      
          </li>
        </ul>
    
    
    <div class="col">Column</div>
    <ul class="list-unstyled">
      
      <li class="media">
        <img class="d-flex mr-3" src="http://www.iconarchive.com/download/i98395/dakirby309/simply-styled/Minecraft.ico" alt="">
        <div class="media-body">
          <h5 class="mt-0 mb-1">List-based media object</h5>
         Hey there
        </div>
    
      
          </li>
        </ul>
    
    
 </div><!--ro-->
</div>






<% include partials/footer%>