<% include partials/header%>

<div  style = "padding-top: 15px;" class="container">
<div id = "content" class="jumbotron">

    <center><img style= "border-bottom: 3px solid; " src= "https://i.imgur.com/2LILjpxb.jpg"><center>


</div>
</div>




<% include partials/footer%>
