<% include  ../partials/header%>




<!--container-->
<div style = "padding-top: 15px;" class="container" >
    <header id="content" class="jumbotron" style="background-color: #F0E9E0;">
        <div class="container" style="background-color: #D4B289; border-radius: 6px; border: 3px solid black;">
            <h1>Welcome to yelpCamp!</h1>
            <p style="font-size: 26px;"> This web application was brought to life after watching a full-stack web development tutorial option
              Udemy.com. This is my first attempt at implementing a website using Node.js, MongoDB and the Express framework.
              In school, I was primarily taught how to use MySQL and PHP for storing / retrieving data. I most enjoyed using
              the non-relational database MongoDB for this project.
            </p>

            <p style="font-size: 26px;">
              Add a campground using the button below to check out the website's full functionality.
              Make sure to register a username and password so you can login, create and edit posts!
            </p>
            <p>
                <a class="btn btn-lg" id="addNew" style="background-color: #A8B276;  color: white; border-color: black; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" href="/campgrounds/new">Add new media project</a>
            </p>
        </div>
    </header>



    <div class="container">
        <div class="col-md-12">
            <h1 style="text-align: center;">Our Most Popular campgrounds!</h1>
        </div>
    </div>



    <div class="row text-center" style="display:flex; flex-wrap: wrap; "><!--styled so grid images all on same line-->
        <% campgrounds.forEach(function(campground){%>
            <div  class="col-md-3 col-sm-6"><!--each pic 3 units when medium screen, 6 units when small -->
              <div id = "myCampCell" class="thumbnail" style="background-color: #F0E9E0">

                  <img style= "border-bottom: 3px solid; padding: 6px; " src= "<%=campground.image %>">

                  <div class="caption">
                     <h4><%= campground.name%></h4>
                  </div>

                  <p> <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary" style="background-color: grey;  color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; border: none;">More Info</a></p>

              </div>
            </div>
        <% }); %>
    </div>
</div>
<!--container-->

<% include ../partials/footer%>
